# Ignore Git directory
.git/
.gitignore

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE/editor files
.idea/
.vscode/

# Ignore pytest cache
.pytest_cache/

# Ignore environment files
.env

# Secrets (do not send to Docker build context)
client_secret.json
token.pickle

# Docker files
Dockerfile
.dockerignore
