# -----------------------------------------------------------------------------
# | This file lists the Python packages required by the MusicWizard Bot.     |
# | Install them using the command: pip install -r requirements.txt           |
# -----------------------------------------------------------------------------

# For interacting with the Telegram Bot API
python-telegram-bot[ext]>=20.8,<21

# For accessing OpenAI's language models (uses AsyncOpenAI client)
openai>=1.0.0,<2

# For fetching song lyrics from the Genius.com API
lyricsgenius>=3.0.1,<4

# Google's API client library for Python
google-api-python-client>=2.130.0,<3

# Google's client library for OAuth 2.0
google-auth-oauthlib>=1.2.0,<2

# For making HTTP requests, used by Google's libraries
google-auth-httplib2>=0.2.0,<1

# A simple and elegant HTTP library for Python
requests>=2.31.0,<3

# For downloading audio from YouTube
yt-dlp>=2024.08.06,<2025.0.0

# For loading environment variables from a .env file
python-dotenv>=1.0.1,<2

# For running tests
pytest>=8.2.0,<9
pytest-asyncio>=0.23.8,<1
